/* Importar fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Container principal */
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

/* Título */
h1 {
    color: #3A6FF8;
    font-size: 24px;
    padding: 10px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Labels */
label {
    font-weight: 600;
    text-align: left;
    display: block;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Botão */
button {
    background-color: #3A6FF8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/* Texto Senha */
.aviso-senha {
    font-size: 15px;
}

/* Texto Aviso */
.aviso {
    font-size: 15px;
}

/* Texto Aviso de conta existente */
.conta-existente-aviso {
    font-size: 15px;
    padding-top: 10px;
}

button:hover {
    background-color: #2F5BCC;
}
